model_config_list:{
    config:{
        name:"Age"
        base_path:"/models/Age_CNN"
        model_platform:"tensorflow"
        
    },
    config:{
        name:"Education"
        base_path:"/models/Education_CNN"
        model_platform:"tensorflow"
    },
    config:{
        name:"Gender"
        base_path:"/models/Gender_CNN"
        model_platform:"tensorflow"
    }
}